<nav>
    <div class="logo">Kebtye Snacks</div>
    <div>
        <a href="/home">Home</a>
        <a href="#about">Why Us</a>
        <a href="/temu">Order Now</a>
        <a href="/track">Track Order</a>  
        <a href="/admin">Admin</a>
    </div>
</nav>